.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0 20px;
  border-bottom: 1px solid #21212166;
}

@media screen and (max-width: 627px) {
  .profile {
    padding: 20px 0 20px;
  }
}

@media screen and (min-width: 769px) {
  .profile {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 34px 0 20px;
  }
}

.profile__image {
  height: 190px;
  width: 190px;
  margin-bottom: 20px;
  border-radius: 8px;
}

@media screen and (max-width: 627px) {
  .profile__image {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 769px) {
  .profile__image {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.profile__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  margin-right: 0;
  align-items: center;
}

@media screen and (min-width: 769px) {
  .profile__column {
    justify-content: space-between;
    height: 170px; /* Matches profile__image height */
    margin-right: 10px;
    align-items: flex-start;
  }
}


.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 769px) {
  .profile__info {
    align-items: flex-start;
  }
}

.profile__name {
  font-size: 32px;
  line-height: 33px;
  font-weight: 500;
  margin: 0 0 6px; /* Changed from 5px */
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
  color: #212121;
  max-width: 420px;
}

@media screen and (min-width: 769px) {
  .profile__name {
    text-align: left;
    margin-bottom: 12px;
  }
}

.profile__subtitle {
  font-size: 16px;
  line-height: 17px;
  font-weight: 500;
  margin: 0 0 15px; /* Keep existing margin */
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
  color: #212121b2;
  max-width: 420px;
}

@media screen and (min-width: 769px) {
  .profile__subtitle {
    text-align: left;
  }
}

.profile__edit-button {
  background: transparent;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  order: 2;
  border: none;
  font-size: 16px;
  line-height: 17px;
  font-weight: 500;
  color: #212121;
}

@media screen and (min-width: 769px) {
  .profile__edit-button {
    border: none;
    width: auto;
    justify-content: flex-start;
    padding: 0;
    align-self: flex-start;
    order: 0;
  }
}

.profile__edit-button:hover {
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.profile__new-post-button {
  background:#212121;
  border-radius: 8px;
  height: 48px;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  border: none;
  color: #FCF5E5;
  font-size: 16px;
  line-height: 17px;
  font-weight: 500;
  align-self: center;
  width: 100%;
  order: 3;
}

@media screen and (min-width: 769px) {
  .profile__new-post-button {
    width: auto;
    padding: 0 18px;
    margin-left: auto;
    align-self: flex-end;
    order: 0;
  }
}

.profile__new-post-button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.profile__edit-text {
  font-size: 16px; /* Adjust as needed */
  line-height: 15px; /* Adjust as needed */
  white-space: nowrap;
}
