.profile {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px solid #21212166;
}

@media screen and (max-width: 627px) {
  .profile {
    padding: 20px 0 20px;
    flex-direction: column;
    align-items: center;
  }
  .profile__name {
    text-align: center;
    font-size: 20px;
    margin: 0 0 6px;
  }

  .profile__edit-button {
    align-items: center;
    justify-content: center;
  }

  .profile__new-post-button {
    width: 100%;
  }
}

.profile__image {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

@media screen and (max-width: 627px) {
  .profile__image {
    margin-bottom: 20px;
  }
}

.profile__column {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.profile__name {
  line-height: 33px;
  font-weight: 500;
  margin: 0 0 12px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #212121;
  max-width: 420px;
}

.profile__subtitle {
  font-size: 16px;
  line-height: 17px;
  font-weight: 500;
  margin: 0 0 15px; 
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #212121b2;
  max-width: 420px;
}

.profile__edit-button {
  background: transparent;
  opacity: 0.7;
  width: 100%;
  padding: 0;
  margin-top: auto;
  display: flex;
  gap: 5px;
  order: 2;
  border: none;
  font-size: 16px;
  line-height: 17px;
  font-weight: 500;
  color: #212121;
}

.profile__edit-button:hover {
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.profile__new-post-button {
  background:#212121;
  border-radius: 8px;
  height: 48px;
  padding: 0;
  margin-left: auto;
  margin-top: auto;
  margin-right: 0;
  border: none;
  color: #FCF5E5;
  font-size: 16px;
  line-height: 17px;
  font-weight: 500;
  width: 157px;
  order: 3;
}

.profile__new-post-button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
